*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#FAF8F5;
overflow:hidden;
font-family:Poppins,sans-serif;

transition:1.5s;
}

body.opening{

opacity:0;

}

.paper{

width:100vw;
height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:
radial-gradient(circle at top,#fff,#FAF8F5);

}

.mailbox-area{

position:relative;

margin-bottom:50px;

}

#mailbox{

width:250px;

cursor:pointer;

transition:.4s;

}

#mailbox:hover{

transform:translateY(-4px);

}

#envelope{

position:absolute;

width:120px;

left:65px;

top:-40px;

animation:float 4s ease-in-out infinite;

cursor:pointer;

}

@keyframes float{

0%{

transform:translateY(0px) rotate(-3deg);

}

50%{

transform:translateY(-8px) rotate(2deg);

}

100%{

transform:translateY(0px) rotate(-3deg);

}

}

.text{

text-align:center;

}

#message{

font-family:"Allura",cursive;

font-size:54px;

font-weight:400;

color:#6B5A56;

margin-bottom:18px;

}

#open{

font-family:"Cormorant Garamond",serif;

font-size:30px;

cursor:pointer;

color:#8B6F75;

transition:.3s;

}

#open:hover{

letter-spacing:2px;

}